@font-face {
  font-family: 'DigitalFont';
  src: url('fonts/digitalfont.ttf')  format('truetype');
}

body {
	background-color: #333333;
}

#koelkast{
	border: none;
	border-collapse: collapse;
}
.temp{
	font-family: 'DigitalFont', 
	Fallback, sans-serif; 
	text-align:center;
	width:100%;
	font-size: 20px;
	color: #0a19f2;
	text-shadow: 0px 0px 2px #0a19f2;
	height:30px;
}
.datumdiva{
	height:30px;
	text-align:center;
	font-size:25px;
	font-family: Georgia
}
.datumdivb{
	height:25px;
	text-align:center;
	font-size:20px;
	font-family: Georgia
}
.infoscrollera{
	height:25px;
	text-align:center;
	font-size:20px;
	font-family: Georgia
}
.infoscrollerb{
	height:25px;
	text-align:center;
	font-size:20px;
	font-family: Georgia
}
.buildnum{
	display:inline;
	overflow:hidden
}
td.eigenschapverwijderen a:after{
	background-color:#ff0000
}
.containing-element .ui-slider-switch { width: 100% }

.koelerjaarmaandsel{
	background: #dddddd !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}