@font-face {
  font-family: 'DigitalFont';
  src: url('fonts/digitalfont.ttf')  format('truetype');
}

body {
	background-color: #333333
}

#koelkast{
	border: none;
	border-collapse: collapse;
}
.temp{
	font-family: 'DigitalFont', 
	Fallback, sans-serif; 
	text-align:center;
	width:100%;
	font-size: 20px;
	color: #0a19f2;
	text-shadow: 0px 0px 2px #0a19f2;
	height:30px;
}
.buildnum{
	display:block;
	overflow:hidden
}