@font-face {
  font-family: 'DigitalFont';
  src: url('fonts/digitalfont.ttf')  format('truetype');
}

body {
	background-color: #333333
}

#koelkast{
	border: none;
	border-collapse: collapse;
}
#temp{
	font-family: 'DigitalFont', Fallback, sans-serif; text-align:center;width:100%
}